<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/pizza_orders">Pizza Orders<a/><br/><br/>
        <a href="/pizza_orders">Order details<a/>
      </li>
  <%= yield %>
</body>
</html>
